.display-animation{
  /*> .animated{
  @include scale(1);
  }*/
}
.display-animation > * {
  transform: scale(0, 0);
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.no-js .display-animation > *,
.mobile .display-animation > * {
  transform: scale(1, 1);
}
.display-animation.animating-in > * {
  transform: scale(1, 1);
}
.display-animation.animating-out > * {
  transform: scale(0, 0);
}