.btn,
a.btn,
input[type="submit"] {
  font-family: @fontFamily-base;
  font-weight: @fontWeight-normal;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  border: 1px solid @black;
  color: @black;
  text-align: center;
  padding: 10px 15px;
  min-width: 220px;
  max-width: 100%;
  display: inline-block;
  text-shadow: none;
  font-size: @fontSize-small;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color .3s ease-in-out, color .4s ease;

  &:active,
  &:hover,
  &:focus {
    background: @gray-light;
    border-color: @gray-light;
    color: @white;
  }

  &.btn-primary {
    background: @brandlight;
    color: @white;
    border: none;

    &:active,
    &:hover,
    &:focus {
      background: @black;
      color: @white;
    }
  }
  &.btn-white {
    background: @white;
    color: @brandprimary;
    border: none;
    
    &:active,
    &:hover,
    &:focus {
      background: @brandprimary;
      color: @white;
      text-decoration: underline;
    }
  }
  &.btn-small {
    padding: 4px 20px;
    min-width: 120px;
  }
  &.btn-outline-white {
    background: none;
    color: @white;
    border: 1px solid @white;

    &:active,
    &:hover,
    &:focus {
      background: @black;
      border-color: @black;
      color: @white;
    }
  }
}

.btn-white {
  background: @white;
  color: @brandprimary;

  &:active {
    color: @black;
  }

  &:hover,
  &:focus {
    color: @black;
  }
}