

// images
.img-circle {
  border-radius: 100%;
}
/*
Responsive Image with Set Aspect Ratio
Thanks: http://daverupert.com/2012/04/uncle-daves-ol-padded-box/
*/
.img-aspect-16-9 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
}
.img-aspect-4-3 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 0;
  padding-bottom: 75%; /* 4:3 */
}
.img-aspect-4-5 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 0;
  padding-bottom: 125%; /* 4:5 */
}
.img-aspect-square {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 0;
  padding-bottom: 100%; /* 4:3 */
}


.img-350-container {
  width: 450px;
  min-width: 350px;
  max-width: 50%;
  height: auto;
}



.alignright {
  float: right;
}
.alignleft {
  float: left;
}

@media( min-width: @screen-sm ) {
  .alignright {
    margin-left: 20px;
  }
  .alignleft { 
    margin-right: 20px;
  }
}