

html {
  background-color: @white;
  height: 100%;
  overflow-y: scroll;
}
body {
  overflow-x: hidden;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  width: 100%;
  padding-top: 0px;
  display: block;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  margin-top: 0;
  padding: 0;
  background: @white;
  
}
.site-content {
  padding-top: 120px;
}
@media (min-width: @screen-sm){
  .site-content {
    padding-top: 120px;
  }
}




/*
  Section Colors
*/
[class^='bg-'],
[class*=' bg-'] {
  position: relative;

  h1, h2, h3, p {
    color: inherit;
    border-color: inherit;
  }
  &.bg-ltgrey {
    background-color: @ltgrey;
    color: @dkgrey;
  }
  &.bg-white {
    background-color: @white;
    color: @dkgrey;
  }
  &.bg-dkgrey {
    background-color: @black;
    color: @white;
  }
  &.bg-black {
    background-color: @dkgrey;
    border-color: rgba(255, 255, 255, .5);
    color: @white;
  }
}



/*
  Section Layouts & Sizing
*/
section {
  outline: none;
  padding: 80px 0;
  z-index: 2;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  
  &.tall {
    padding: 120px 10px 80px;
  }
  &.medium {
    padding: 35px 0;
  }
  &.medium {
    padding: 35px 0;
  }
  * {
    z-index: 2;
  }
}
@media (min-width: @screen-sm){
  section {
    &.medium {
      padding: 42px 0;
    }
  }
}
@media (min-width: @screen-md){
  section {
    &.medium {
      padding: 50px 0;
    }
  }
}


.page {
  .page-content {
    img {
      margin-bottom: 20px;
      width: 100%;
      height: auto;
    }
  }
}
