
.blog-page .blog-post {
  .page-title,
  .post-title {
    font-size: 24px;
    margin-top: 0;
  }
}

.blog-post {
  .post-title,
  h1.post-title {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 0 0 10px;
  }
  .post-meta {
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: .8px;
    font-size: 12px;
  }
  .entry-meta * {
    font-size: 14px;
  }
  .entry-content {
    img {
      margin-bottom: 20px;
      height: auto;
    }
    img.alignnone {
      width: 450px;
      min-width: 350px;
      max-width: 50%;
    }
    img.alignleft,
    img.alignright,
    img.aligncenter {
      width: auto;
      max-width: 100%;
      min-width: 0;
    }
  }
}

@media( min-width: @screen-sm ) {
  .blog-post {
    .entry-content {
      .alignright {
        margin-left: 20px;
      }
    }
  }
}

.nav-links {
  display: block;

  .nav-previous,
  .nav-next {
    width: 50%;
    display: inline-block;
  }
  .nav-next {
    &:before {
      content: '< ';
    }
  }
  .nav-previous {
    text-align: right;
    float: right;

    &:after {
      content: ' >';
    }
  }
}

.page-template-page-blog {
  .blog-page .blog-post {
    .page-title,
    .post-title {
      font-size: 14px;
    }
  }
}

