@media print {
  .single-recipes {

    .skip-link {
      opacity: 0;
      left: -9999px;
    }

    .navbar {
      display: block;

      .brand {
        margin-left: 20px;

        &:after {
          display: none;
        }
        img {
          width: 200px;
        }
      }
      .nav-collapse {
        display: none;
      }
    }
    .site-content {
      margin-top: 5%;
    }

    .recipe-page {
      .recipe-title {
        font-size: 24px;
      }
      .recipe-summary {}
      
      .image-container {
        width: 25%;
        display: inline-block;
        float: none;
        vertical-align: top;
      }
      .image {
        padding: 0;
      }
      .mb2 {
        margin: 0;
      }
      .recipe-content {
        width: 74%;
        display: inline-block;
        float: none;

        .recipe-instructions {
          padding-right: 20px;
        }
        .serving-size {
          .sansitalic();
          text-transform: lowercase;
        }
        .recipe-ingredients {
          .recipe-ingredients-list {
            p {
              margin-top: 30px;
              margin-bottom: 8px;
              text-transform: uppercase;
              letter-spacing: .8px;
              font-size: 12px;
            }
            p:first-of-type {
              margin-top: 15px;
            }
          }
          ul {
            list-style: none;

            li {
              font-size: 1rem;
              padding-left: 10px;
              line-height: 1.2;
              margin-bottom: 5px;
              height: 16px;
            }
          }
        }
      }
    }

    .site-footer {
      font-size: .75rem;

      .col-xs-3,
      .col-xs-9 {
        width: 45%;
        display: inline-block;
        float: none;
        vertical-align: top;
      }

      // shorten top footer padding
      .pt {
        padding: 4px;
      }
      a .fa {
        font-size: 1rem;
      }
      a:after {
        content:"  @" attr(data-insta) "";
        font-size: .75rem;
        font-weight:normal;
        text-align: right;
      }
    }
  }
}