.nav-top .search-form {
  label {
    margin-left: -60px;
  }
  input.search-field {
    border: none;
    border-bottom: 1px solid @black;
    text-align: center;
    padding: 8px;
    margin-bottom: 12px;
    margin-left: 0;
    border-radius: 0;
  }
  input.search-submit {
    width: 0;
    height: 0;
    min-width: 0;
    padding: 0;
    visibility: hidden;
  }
  span.fa {
    margin-left: -80px;
  }

  input.search-field:focus {
    margin-left: 80px;

    & + span.fa {
      margin-left: 0;
      opacity: 0;
    }
  }
}


.search-item {
  clear: both;
  display: table;
  width: 100%;

  img {
    width: 240px;
    max-width: 30%;
    float: left;
    margin-right: 20px;
  }
}