
 


//
// flexible content 
// 

.acf-fields .acf-field[data-name='section'] {

  // larger block titles
  .acf-flexible-content .layout .acf-fc-layout-handle {
    font-size: 20px !important;
    font-weight: 300;
    background: @dkgrey;
    color: white !important;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .acf-flexible-content .layout .acf-fc-layout-order {
    vertical-align: top;
    margin-top: 4px !important;
  }

  .acf-flexible-content .layout .acf-fc-layout-controlls {
    top: 13px !important;
    right: 14px !important;
  }

  .acf-actions {
    .acf-button {
      padding: 30px 50px;
      line-height: 20px;
      min-width: 300px;
      text-align: center;
      vertical-align: middle;
      height: 80px;
      font-size: 20px;
      letter-spacing: 1px;
    }
  }
}