// Lib
@import "../1_Lib/openform-signature.less";
@import "../1_Lib/bootstrap/variables.less";

// Settings
@import "../2_Settings/colors.less";

// Global
@import "../3_Global/helpers.less";

// Components & Pages
@import "acf.less";

// Styles


.theme-browser .theme .theme-name {
  height: auto;
}


// ACF 
.acf-relationship-create-link {
  display: block;
  position: absolute;
  top: -24px;
  right: 0;

  span.dashicons {
    width: 100px;
    text-align: right;

    &:after {
      display: inline-block;
      font-family: "Helvetica Neue","Helvetica",sans-serif;
      content: "add new";
      line-height: 20px;
      font-size: 12px;
      height: 20px;
      padding: 0 0 0 4px;
      font-weight: bold;
      vertical-align: top;
    }
  }

  &:hover {
    text-decoration: none;

    span.dashicons:before,
    span.dashicons:after, {
      text-decoration: none;
    }
  }
}