.footer {
  padding: 40px 0;
  background-color: @black;
  font-size: @fontSize-small;
  color: @white;
  font-family: @fontFamily-base;
  
  .col-sm-2, .col-sm-4 {
    margin-bottom: 40px;
  }
  .nmb {
    margin-bottom: 0;
  }

  p {
    font-size: @fontSize-small;
    font-family: @fontFamily-base;
    color: @mdgrey;
    line-height: 1.6;
  }

  .logo-icon {
    width: 36px;
  }
  
  h4 {
    color: @mdgrey;
    font-size: @fontSize-small;
    text-transform: none;
    margin-bottom: 6px;
    font-weight: 600;
  }

  ul.nav {
    font-family: @fontFamily-base;

    li {
      a {
        color: @mdgrey;
        padding: 0 0 1px;
        border: none;
        text-decoration: none;
        font-size: @fontSize-small;

        
        &:after {
          content: none;
        }

        &:hover,
        &:focus {
          color: @white;
          text-decoration: underline;
          background: none;
        }
      }
    }
  }

  form {
    input[type='text'],
    input[type='email'] {
      background-color: transparent;
      border: 1px solid @mdgrey;
      color: @white;
      width: 100%;
      padding: 10px;
      font-size: @fontSize-base;
    }
  }

  .social-links {
    background: @black;
    text-align: center;

    .line {
      border-top: 1px solid @mdgrey;
      padding: 0;
      margin: -16px 0 0;
      z-index: 1;
      position: relative;
    }

    ul {
      position: relative;
      background: @black;
      width: auto;
      margin: 0 auto 0;
      display: inline-block;
      padding: 0 6px;
      z-index: 100;
    }

    li {
      width: 32px;
      height: 32px;
      padding: 0;
      border-radius: 100%;
      text-align: center;
      background: @mdgrey;
      margin: 0 3px;

      a {
        display: block;
        width: 32px;
        height: 32px;
        padding: 1px;
        margin: 0;
        text-align: center;
        border-radius: 100%;

        &:hover {
          background: @brandprimary;
        }

        span.fa {
          color: @black;
          line-height: 32px;
          font-size: 22px;
          pointer-events: none;
        }
      }
    }
  }

  .abcs-ministry {
    color: @mdgrey;
    text-transform: uppercase;
    font-size: 11px;
    padding-top: 40px;
  
    p, a {
      color: @mdgrey;
      font-size: 11px;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: .5px;
    }
  }
}

body.sticky-foot {
  height: 100%;
  padding-bottom: 300px;

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}


@media (min-width: @screen-sm) {
  .footer {
    padding: 40px 0;
    
    .floater {
      float: right;
    }
    p {
      font-size: @fontSize-small;
    }

    .logo-icon {
      width: 60px;
      min-width: 60px;
      max-width: 100%;
    }
  }
}