//
// Forms
//

// form control

.form-control,
.form-control:focus {
  box-shadow: none;
}

.form-control {
  border-color: @gray;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  font-size: @fontSize-base;
  height: 46px;
  padding-top: 3px;
  padding-bottom: 2px;
}

.form-control:focus {
  border-color: @gray;
}

// sizes
.form-control--small {
  font-size: @fontSize-small;
  height: 36px;
  padding-top: 7px;
  padding-bottom: 7px;
}

// form input
.form-control {
  border: 1px solid @dkgrey;
  border-color: @dkgrey;
  border-radius: 0;
}

// input groups
.input-group {
  margin-bottom: 20px;

  .input-group-addon {
    border-radius: 0;
    border: 1px solid @dkgrey;
  }
  .form-control:not(:first-child) {
    border-left: none;
  }
}

// placeholder text
::-webkit-input-placeholder {
  color: @gray;
}

:-moz-placeholder { /* Firefox 18- */
  color: @gray;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: @gray;
}

:-ms-input-placeholder {  
  color: @gray;
}




// Search
input[type="search"] {
  border-color: @gray;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  font-size: @fontSize-base;
  height: 49px;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 15px;
}
input[type="submit"].search-submit {
  background: @ltgrey;
  color: @brandprimary;
  border: @mdgrey;
  
  &:active,
  &:hover,
  &:focus {
    background: @brandprimary;
    color: @white;
    text-decoration: underline;
  }
}
.search-form {
  padding-bottom: 40px;
  border-bottom: 1px solid @mdgrey;
  margin-bottom: 40px;
}
@media (max-width: @screen-sm) {
  input[type="search"],
  input[type="submit"].search-submit,
  .search-form label {
    width: 100%;
  }
}





// Constant Contact
.fake-placeholder {
  height: 46px;
  font-size: @fontSize-small !important;
  line-height: 1.5;
  padding: 10px;
  color: @gray;
  margin-bottom: -46px;
}
div.ctct-form-embed div.ctct-form-defaults,
.ctct-form-embed.form_0 .ctct-form-defaults {
  background: transparent;
  border: none;
  padding: 0;
  position: relative;
  color: @black;
}

.ctct-form-embed.form_0 .ctct-form-defaults {
  background: transparent !important;
}

// label 
div.ctct-form-embed form.ctct-form-custom label.ctct-form-label {
  display: none !important;
}

// input
div.ctct-form-embed form.ctct-form-custom div.ctct-form-field {
  margin-bottom: 15px !important;
}
div.ctct-form-embed form.ctct-form-custom input.ctct-form-element {
  background-color: transparent !important;
  border: 1px solid @mdgrey !important;
  color: @white !important;
  width: 100% !important;
  padding: 10px !important;
  font-size: @fontSize-small !important;
  border-radius: 0 !important;
  
  &:focus {
    background: @black !important;
  }
}
div.ctct-form-embed form.ctct-form-custom input.ctct-form-element::placeholder {
  font-size: @fontSize-small !important;
}

// button 
.ctct-form-embed.form_0 .ctct-form-custom .ctct-form-button {
  font-weight: @fontWeight-normal;
  border-radius: 0;
  background: transparent;
  background-color: transparent !important;
  background: url('../img/icons/right-white-16.png') center no-repeat;
  background-size: 10px;
  box-shadow: none;
  border: 1px solid @mdgrey !important;
  overflow: hidden;
  color: transparent !important;
  text-align: center;
  padding: 10px 15px;
  min-width: 20px;
  max-width: 50px;
  width: 46px;
  height: 46px;
  position: absolute; 
  top: 0;
  right: 0;
  display: inline-block;
  text-shadow: none;
  font-size: @fontSize-large;
  line-height: 1.42857143;
  text-transform: none;
  transition: background-color .3s ease, color .4s ease;

  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    // content: "\f054";
    content: '>';
    color: transparent;
  }

  &:hover {

  }
}

// privacy 
div.ctct-form-embed div.ctct-form-defaults p.ctct-form-footer {
  display: none !important;
}
// by submitting
.ctct-form-embed.form_0 .ctct-form-defaults .ctct-gdpr-text,
.ctct-form-embed.form_0 .ctct-form-defaults .ctct-gdpr-text .ctct-form-footer-link {
  color: @black !important;
  display: none !important;
}

// captcha? for real?
.rc-anchor-normal-footer,
#ctct_recaptcha_0,
.g-recaptcha {
  display: none !important;
}

// Success message
div.ctct-form-embed div.ctct-form-defaults div.ctct-form-success {
  padding: 10px;
  border: 1px solid white;
  background: black;
}
div.ctct-form-embed div.ctct-form-defaults h2.ctct-form-header {
  color: @white !important;
  font-size: @fontSize-small !important;
  font-family: @fontFamily-base !important;
  font-weight: @fontWeight-bold !important;
  text-transform: uppercase;
  letter-spacing: .6px;
}
div.ctct-form-embed div.ctct-form-defaults p.ctct-form-text {
  font-family: @fontFamily-base !important;
  font-size: @fontSize-small !important;
  color: @white !important;
  margin-bottom: 0 !important;
}





/*
    Form
-------------------------------------------------- */
form {
    input, .form-control {

        display: block;
        margin-bottom: 10px;
        padding: 6px 12px;
        width: 100%;
        border: 1px solid @ltgrey;
        border-radius: 1px;
        background: @white;
        color: @black;
        font-size: 1rem;
        line-height: 1.42857143;
    }

    input[type='text'],
    input[type='email'],
    input[type='phone'],
    input[type='search'] {
        padding: 8px 12px 4px;
        border-color: @ltgrey;
        border-radius: 1px;
    }

    input[type='submit'],
    input[type='submit']:hover,
    input[type='submit']:focus {
        width: auto;
        -webkit-appearance: none;
        box-shadow: none;
        text-shadow: none;
        font-size: 1rem;
        background: @dkgrey;
        color: #fff;
        border-radius: 1px;
        border: none;

        &:hover,
        &:focus {
            background: @dkgrey;
            color: #fff;
            text-decoration: none;
        }
    }
    label {
        font-weight: normal;
    }

    .inline-fields {
        margin-top: 20px;

        input[type="email"],
        input[type="submit"] {
            display: inline-block;
            vertical-align: top;
        }
        input[type="email"] {
            background: @white;
            border: none;
            color: @black;
            font-size: .8rem;
            line-height: 21px;
            width: 75%;
            height: 37px;
            padding: 8px;
            box-shadow: none;
        }
        input[type="submit"] {
            background: @mdgrey;
            color: @black;
            font-weight: bold;
            font-size: .8rem;
            line-height: 21px;
            text-align: center;
            text-transform: uppercase;
            padding: 8px 16px;
        }

    }
}


/*
    Gravity Form
*/
/* weird fix for gravityforms ajax embed */
.contact-page .embed-responsive.embed-responsive-16by9 {
  display: none;
}
.gform_wrapper {
    display: block;
    
    .gf_browser_chrome .gform_body {
        width: 100%;
    }
    form {
      background: none;
      padding: 0;
      font-family: @fontFamily-base;
      font-size: 16px;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      > li {
        text-indent: 0;
      }
    }
    label,
    label.gfield_label
    .field_sublabel_above .ginput_complex.ginput_container label, 
    .field_sublabel_above div[class*=gfield_time_].ginput_container label {
        font-family: @fontFamily-base;
        font-size: 16px !important;
        text-shadow: none;
        font-weight: 600 !important;
        margin-bottom: 0;
        color: inherit;
    }
    .field_sublabel_above .ginput_complex.ginput_container label, 
    .field_sublabel_above div[class*=gfield_time_].ginput_container label {
        font-weight: 400 !important;
    }
    input, textarea,
    input[type=text] {
      font-family: @fontFamily-base !important;
      background: @white;
      color: @black;
      padding: 12px 8px !important;
      font-size: 18px !important;
      width: 100%;
      border: 1px solid @mdgrey;
      margin-bottom: 20px !important;
    }
    select {
      font-family: @fontFamily-base;
        background: @white;
        border-radius: 0;
        margin-bottom: 60px;
        border-color: @mdgrey;
        height: 44px;

    }
    input[type="radio"], 
    input[type="checkbox"] {
      margin: 0 !important;
    }
    .gfield_checkbox li label {
      margin: 3px 0 0 10px !important;
    }
    .gfield_radio li {
      padding-left: 5px;

      label {
        margin-left: 10px;
        font-weight: @fontWeight-normal;
      }
    }
    input[type="submit"] {
      font-family: @fontFamily-base;
        position: relative;
        border-radius: 0;
        background: @brandprimary;
        color: @white;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        font-weight: bold;
        font-size: 16px !important;
        letter-spacing: .5px;
        line-height: 12px;
        text-align: left;
        text-transform: uppercase;
        padding: 12px !important;
        height: 36px;
        z-index: 25;
        display: inline-block;
        min-width: 150px;
        margin-top: 0;

        &:hover,
        &:focus {
            background: @brandprimary;
            color: @black;
            text-decoration: none;
        }
    }
    input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
        line-height: 12px !important;
    }
    .ginput_left input:focus+label,
    .ginput_right input:focus+label,
    .ginput_full input:focus+label {
        font-weight: normal !important;
    }
    .gfield_date_year {
      width: 70px !important;
    }
    div.ginput_container_checkbox, 
    div.ginput_container_radio {
      margin-bottom: 40px !important;
    }
}
@media (min-width: 768px) {
    .gform_wrapper {
        .half {
            width: 48%;
            display: inline-block;
        }
        .half:nth-child(odd) {
            margin-right: 4%;
        }
    }
}