//
// Utilities
//


// margin & padding
.mb {
  margin-bottom: 20px;
}
.mb2 {
  margin-bottom: 40px;
}
.mb3 {
  margin-bottom: 60px;
}
.mb5 {
  margin-bottom: 100px;
}
.mt {
  margin-top: 20px;
}
.mt2 {
  margin-top: 40px;
}
.nmb {
  margin-bottom: 0;
}
.pl {
  padding-left: 20px;
}
.pl2 {
  padding-left: 40px;
}
.pt {
  padding-top: 20px;
}
.pt2 {
  padding-top: 40px;
}
.pb {
  padding-bottom: 20px;
}
.pb2 {
  padding-bottom: 40px;
}
.npt {
  padding-top: 0 !important;
}
.npb {
  padding-bottom: 0 !important;
}


// borders
.bl {
  border-left: 1px solid @mdgrey;
}
.bt {
  border-top: 1px solid @mdgrey;
}
.bb {
  border-bottom: 1px solid @mdgrey;
}

@media (min-width: @screen-sm-min) {
  .bt-desktop {
    border-top: 1px solid @mdgrey;
  }
}

// pull (float)

.u-pullLeft {
  float: left;
}

.u-pullRight {
  float: right;
}


// Clears
.clear-left {
  clear: left;
}


// Autoclear
@media (max-width: @screen-xs-max) {
  .autoclear {
    .col-xs-6:nth-of-type(2n+1) {
      clear: left;
    }
  }
}
@media (min-width: @screen-sm-max) and (max-width: @screen-md-min) {
  .autoclear {
    
    .col-sm-4:nth-of-type(3n+1) {
      clear: left;
    }
    .col-sm-6:nth-of-type(2n+1) {
      clear: left;
    }
  }
}
@media (min-width: @screen-md-min) {
  .autoclear {
    .col-md-3:nth-of-type(4n+1) {
      clear: left;
    }
    .col-md-4:nth-of-type(3n+1) {
      clear: left;
    }
  }
}


section, div {
  .idshow {
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    color: @white;
    background: @brandprimary;
    padding: 8px;
    text-transform: none;
  }
}

.post-edit-link {
  background: @brandprimary;
  color: @white;
  display: block;
  position: fixed;
  top: 0;
  left: 45%;
  z-index: 9999;
  padding: 3px 8px;
  border-radius: 0 0 4px 4px;
}
