//
// Icons
//

.fa {
  font-size: .9em;
  position: relative;
}

.fa-after {
  margin-left: .2em;
}

.fa-before {
  margin-right: .2em;
}

.fa-angle-down {
  font-weight: 700;
}

.fa-user {
  top: -.1em;
}