.site-content {
  ul {
    list-style-type: none;
    padding-left: 15px;
    
    > li {
      text-indent: -15px;
     
      &:before {
        content: "–";
        text-indent: -10px;
        padding-right: 5px;

      }
    }
  }

  ol {
    padding-left: 15px;
  }



  ul.list-unstyled {
    padding-left: 0;

    > li {
      text-indent: 0;

      &:before {
        display: none;
      }
    }
  }
}

ul.list-prayer {
  li {
    padding: 20px 0 60px;
    border-top: 1px solid @ltgrey;
  }
}