.site-header {
  padding-right: 0;
  transition: background .3s ease-in-out;

  &.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    z-index: 50;
    background: @white;
  }
  .navbar {
    margin-bottom: 0;
    min-height: 50px;
    border: none;
  }
  .navbar-header {
    display: block;
    width: 100%;
    height: 55px;
    border: none;
    z-index: 101;
  }
  .brand {
    padding: 0;
    margin: 0;
    z-index: 50;
    height: 100%;
    max-height: 60px;
    max-width: 100%;
    position: relative;
    padding: 0;
    padding-left: 0;
    padding-top: 14px;
    display: block;
    border: none;
    background-color: transparent;

    &:after {
      content: none;
    }

    img {
      width: 100px;
      margin-top: 0;
      transition: width .4s ease, opacity .3s ease, visibility .4s .2s ease;
      opacity: 1;
      visibility: visible;
      display: block;
      position: absolute;
      top: 15px;
      left: 0;
    }
  }
  &.shrink {
    .navbar {
      height: 60px;

      .brand {
        img {
          width: 54px;
        }
        img.logo-rg {
          opacity: 0;
          visibility: hidden;
        }
        img.logo-sm {
          opacity: 1;
          visibility: visible;
          width: 100px;
        }
      }
    }
  }
}

// Nav Open Button
.btn-menu {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 15px;
  padding-right: 15px;
  display: inline-block;
  z-index: 101;
  text-align: right;
  background: none;
  box-shadow: none;
  border: none;
  outline: 0;

  .lines-circle {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: none;
    color: @black;
    border-radius: 100%;
    font-size: 20px;
    padding: 7px 9px;
    margin-left: 8px;

    span.line-1,
    span.line-2,
    span.line-3 {
      display: block;
      position: absolute;
      width: 1px;
      height: 18px;
      background: @black;
      transform: rotate(90deg);
      top: 2px;
      left: 50%;
      margin-left: -0.5px;
      margin-top: -4px;
      transition: transform .3s ease-in-out;
    }
    span.line-2 {
      transform: rotate(90deg);
      margin-top: 1px;
    }
    span.line-3 {
      transform: rotate(90deg);
      margin-top: 6px;
    }
  }
  &:visited {
    .lines-circle {
      span.line-1,
      span.line-2 {
        background: @black;
      }
    }
  }
  &:hover,
  &:focus {
    background: none;
    outline: 0;

    .lines-circle {
      span.line-1,
      span.line-2 {
        background: @black;
      }
    }
  }
}

.nav-collapse {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  background: @white;
  color: @black;
  width: 100%;
  height: 100%;
  z-index: 100;
  text-align: left;
  transition: opacity .3s ease-in-out, visibility 0s .3s ease;

  .nav-top {
    margin-top: 0;
    float: none;

    ul.nav {
      padding: 0;
      border-top: none;

      li {
        margin: 0 30px;

        a {
          font-family: @fontFamily-base;
          font-weight: normal;
          font-size: @fontSize-large;
          color: @black;
          padding: 15px 0 17px;
          border-bottom: 1px solid @mdgrey;
          line-height: 1.1;
          text-transform: uppercase;
          letter-spacing: .5;
          text-decoration: none;
          transition: all .3s ease;

          &:hover,
          &:focus {
            background: none;
            text-decoration: none;
          }
        }

        &:nth-of-type(1) a {
          border-top: 1px solid @mdgrey;
        }
      }
    }
  }
}

// Desktop
@media (min-width: @screen-sm) {
  .site-header {
    padding-right: 0;
  }
  .navbar {
    height: 60px;

    .brand {
      max-height: 100%;
      max-width: 100%;
      height: 80px;
    
      &:hover,
      &:focus {
        text-decoration: none;
        border: none;
      }
      img {
        width: auto;
      }
    }
  }
  .btn-menu {
    margin-top: 24px;
    padding-right: 30px;

    span.text {
      font-size: 24px;
    }
  }
  .nav-collapse {
    visibility: visible;
    opacity: 1;
    position: relative;
    top: 0;
    left: auto;
    right: 0;
    bottom: auto;
    background: none;
    color: @black;
    width: auto;
    height: auto;
    text-align: right;

    .nav-top {
      float: right;
      margin-top: 20px;

      ul.nav {
        padding: 0 15px;
        margin-right: -30px;
        
        li {
          display: inline-block;
          padding: 10px 10px;
          margin: 0 5px;

          a {
            line-height: 1.68;
            color: @black;
            font-size: 1rem;
            font-weight: normal;
            border: none;
            padding: 0;
            border-bottom: 1px solid rgba(255,255,255,0);
            transition: border .2s ease-in-out, background-color .3s ease-in-out, color .4s ease;

            &:after {
              content: none;
            }

            &:hover {
              color: @brandprimary;
              border-bottom: 1px solid @brandprimary;
            }
          }

          &.current-menu-item {
            a {
              border-bottom: 1px solid @brandprimary;
            }
          }

          &:nth-of-type(1) a {
            border-top: none;
          }

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
}

// Desktop Md
@media (min-width: @screen-md) {
  .nav-collapse {
    .nav-top {
      ul.nav {
        li {
          padding: 10px 15px;
          margin: 0 20px;
        }
      }
    }
  }
}



// Hero overlay
.home {
  .site-header {
    &.fixed {      

    }
  }
}
.page-template {
  .site-header.fixed {
    
  }
}
.hero-visible {
  .site-header {
    &.fixed {
      background: none;
    }
    .navbar-header {
      border-bottom-color: @mdgrey;
    }

    .brand {
      color: @white;

      &:hover,
      &:focus {
        border-bottom: 1px solid @mdgrey;
      }
    }
    .nav-collapse .nav-top ul.nav li {
      a {
        color: @white;

        &:hover {
          border-bottom: 1px solid @mdgrey;
        }
      }
      &.current-menu-item {
        a {
          border-bottom: 1px solid @mdgrey;
        }
      }
    }
    .btn-menu {
      span.lines-circle {
        background: none;

        span.line-1,
        span.line-2 {
          background: @white;
        }
      }
    }
  }
}
.hero-visible-mdgrey {
  .site-header {
    .brand {
      color: @black;
    }
    .navbar-header {
      border-bottom-color: @mdgrey;
    }
    .btn-menu {
      span.lines-circle {
        background: none;

        span.line-1,
        span.line-2 {
          background: @black;
        }
      }
    }
  }
}
.blog-page {
  .site-header {
    // background: @mdgrey;

    .brand {
      color: @black;
    }
    .navbar-header {
      border-bottom-color: @black;
    }
    .page-header {
      border-color: @black;
    }
    .btn-menu {
      span.lines-circle {
        background: none;

        span.line-1,
        span.line-2 {
          background: @black;
        }
      }
    }
  }
}
.hero-visible.blog-page {
  .site-header {
    &.fixed {
      background: @mdgrey;
    }
  }
}



// Nav open!
.nav-visible {
  .site-header,
  .site-header.fixed {
    background: @white;

    .navbar-header {
      border-color: @mdgrey;
    }
    .brand {
      color: @white;

      img.logo-icon {
        visibility: visible;
        opacity: 1;
      }
    }
    // transition the menu button
    .btn-menu {
      span.lines-circle {
        background: none;

        span.line-1,
        span.line-3 {
          background: @black;
          margin-top: 1px;
        }
        span.line-2 {
          opacity: 0;
        }
        span.line-1 {
          transform: rotate(45deg);
        }
        span.line-3 {
          transform: rotate(-45deg);
        }
      }
    }
  }
  // show the nav
  .nav-collapse {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s ease-in-out;
  }
}