.super-nav {
  background: @black;
  color: @white;
  height: 40px;
  z-index: 300;
  overflow-y: visible;
  position: relative;
  
  a {
    text-transform: uppercase;
    color: @white;
    font-size: 12px;
    text-decoration: none;
    line-height: 40px;
    height: 40px;
    padding: 10px 0;
  }
  .arrow-down {
    background: url('../img/icons/down-white.png');
    width: 16px;
    height: 8px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateX(0);
    transition: transform .4s ease-in-out;
  }
  .top {
    display: block;
    text-align: center;
    z-index: 301;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .content {
    background: @black;
    display: block;
    height: 0px;
    text-align: left;
    transition: height .4s ease-in-out;
    z-index: 301;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    overflow: hidden;

    .container {
      padding-top: 20px;
    }

    a {
      display: block;
      color: @white;
      line-height: 1.4;
      padding-top: 8px;
      border-top: 1px solid @white;
      transition: all .3s ease;

      &:hover {
        color: @mdgrey;
        border-color: @mdgrey;
      }
    }
  }

  &.supernav-visible {
    .content {
      height: 300px;
      height: 100vh;
    }
    .arrow-down {
      transform: rotateX(180deg);
    }
  }
}

@media (max-width: @screen-sm) {
  .super-nav {
    height: 50px;

    a {
      height: 50px;
      line-height: 36px;
    }
    .content {
      top: 50px;

      .container {
        padding: 20px 0;
      }
    }
  }
}
@media (min-width: @screen-sm) {
  .super-nav {
    .content {
      padding-top: 10px;
      
      a {
        min-height: 64px;
        line-height: 1.15;
      }
    }

    &.supernav-visible {
      .content {
        height: 160px;
      }
    }
  }
}
@media (min-width: @screen-lg) {
  .super-nav {
    .content {      
      a {
        line-height: 1.4;
      }
    }
  }
}