.table-unstyled {
  > tbody {
    > tr {
      > td {
        border: none;
      }
    }
  }
}

.table-align-right {
  > tbody {
    > tr {
      > td {
        padding-top: 1px;
        text-align: right;
        padding-right: 0;
      }
    }
  }
}