video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 10;
    transform: translateX(-50%) translateY(-50%);
    background: rgba(255, 255, 255, 0);
    background-size: cover;
    transition: 1s opacity;
    
    &.video-wait {
        opacity: 0;
        z-index: -100;
    }
}
.btn-video {
    position: absolute;
    top: 60px;
    right: 60px;
    background: transparent;
    border: none;

    span {
        color: @white;
        font-size: 30px;
    }
}
.btn-play {
    display: block;
}
.hide-video {
    display: none;
}
.showVideo {
    .btn-play {
        display: none;
    }
    .hide-video {
        display: block;
    }
}


@supports (-moz-appearance:meterbar) {
    video {
        position: absolute;
    }
}

.stopfade {
    opacity: .5;
}


/* ARVE */

.lity-container {
    width: 100%;
}

.lity-hide {
    display: none;
}

.arve-embed-container {
    margin: 0 auto;
}


/* Responsive Wrapper */

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
