/*
  Colors
*/
@white: #FFFFFE;
@black: #575756;
@ltgrey: #eee;
@mdgrey: #88898D;
@mdgrey: #bbbcbf;

@dkgrey: #444444;

/*
 Brand
*/
@brandprimary: #F9423A;
@brandlight: @brandprimary;
@brandprimarydk: @brandprimary;

/* Transparent */
@dkgrey-trans: rgba(0,0,0,.8);
@transparent: rgba(255,255,255,0);

.gradient(@left, @right){
    background: rgba(255,255,255,0);
    background: linear-gradient(90deg, @left,@right);
}


// social media colors
@facebookBlue: #3b5998;
@instagramBlue: #3f729b;
@youtubeRed: #cd201f;
@twitterBlue: #55acee;
@googlePlusRed: #dd4b39;
