
/*
  Type Sizes
*/

@fontSize-small: 14px;
@fontSize-base: 17px;
@fontSize-large: 24px;

@media (min-width: @screen-sm) {
  @fontSize-large: 32px;
}

@fontFamily-base: "century-gothic",sans-serif;;
@fontFamily-text: 'Dolly', 'Georgia', serif;

@fontWeight-normal: 400;
@fontWeight-bold: 700;

@lineHeight-tightest: 1;


/*
  Base Type Settings
*/

html {
  font-size: @fontSize-small;
}
body {
  background-color: rgba(0, 0, 0, .02);
  color: @black;
  font-family: @fontFamily-base;
  font-size: @fontSize-small;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.screen-reader-text {
  position: fixed;
  top: 0;
  left: -9999px;
}


.content-wrapper {
  background-color: @white;
  margin: 0 auto;
  // max-width: 1600px;
}

.content-wrapper--fluid {
  max-width: none;
}

a {
  color: @black;
  font-size: @fontSize-base;
  text-transform: uppercase;
  letter-spacing: .5px;
  transition: color .4s ease, background-color .3s ease;
  border-bottom: none;
  padding-bottom: 3px;
  padding-top: 4px;
  text-decoration: underline;

  > div,
  > img {
    pointer-events: none;
  }

  &:active,
  &:focus,
  &:hover {
    color: @brandprimary;
    outline: 0;
    text-decoration: underline;
    background-color: transparent;
  }
}
p a,
h4 a {
  text-transform: none;
  text-decoration: none;
}

a.link-primary {
  color: @black;
  border-bottom: 1px solid @brandprimary;
  text-decoration: none;

  // &:after {
  //   content: ' →';
  //   vertical-align: bottom;
  // }

  &:active,
  &:focus,
  &:hover {
    color: @brandprimary;
    text-decoration: none;
  }
}
a.link-tiny {
  font-size: 12px;
}


a.link-normal {
  color: inherit;
}

a.link-simple {
  color: inherit;
  text-decoration: none;
  border: none;

  &:active,
  &:focus,
  &:hover {
    color: @brandprimary;
    text-decoration: none;
  }
}


blockquote {
  color: @black;
  font-size: @fontSize-base;
  font-weight: @fontWeight-normal;
  font-family: @fontFamily-text;
}

h1,  h2,  h3, h4
.h1, .h2, .h3 {
  margin: 0 0 10px;
  color: @black;
  font-family: @fontFamily-base;
}

h1 > small,  h2 > small,
.h1 > small, .h2 > small {
  // color: @darkGray;
  color: inherit;
  display: block;
  // font-style: italic;
  font-weight: @fontWeight-normal;
  // letter-spacing: 0;
  text-transform: none;
}

h1 > .est,  h2 > .est,
.h1 > .est, .h2 > .est {
  color: @black;
  display: inline-block;
  font-size: .46em;
  font-style: normal;
  margin-left: .6em;
  //position: relative;
  //text-transform: uppercase;
  //top: -.2em;
}

h1, .h1 {
  font-weight: @fontWeight-bold;
  font-size: @fontSize-large;
  line-height: 1.1;
  font-family: @fontFamily-base;
}

h2, .h2 {
  font-weight: @fontWeight-normal;
  font-size: @fontSize-large;
  line-height: 1.4;
  font-family: @fontFamily-base;
}

h3, .h3 {
  font-weight: @fontWeight-bold;
  font-size: @fontSize-base;
  line-height: 1.1;
  font-family: @fontFamily-base;

  @media (max-width: @screen-md-max) {
    font-size: @fontSize-base;
  }

  @media (max-width: @screen-xs-max) {
    font-size: @fontSize-base;
  }
}

h4 {
  font-size: @fontSize-base;
  font-weight: @fontWeight-bold;
  text-transform: none;
  margin: 0 0 5px;
}

hr {
  margin: 24px 0;

  @media (max-width: @screen-xs-max) {
    margin: 20px 0;
  }
}

img {
  display: block;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

p, ul, ol, dl, img {
  font-family: @fontFamily-text;
  font-size: @fontSize-base;
  font-weight: @fontWeight-normal;
  margin: 0 0 14px;

  a {
    text-transform: none;
  }
}

p {
  line-height: 1.4;

  &.maxp-220 {
    max-width: 220px;
  }
}
.max-450,
.max-450 p {
  max-width: 450px;
}
.text-sans,
.text-sans > p {
  font-family: @fontFamily-base;
  font-size: @fontSize-base;
}
.small,
p.small, p .small,
a.small, a .small {
  font-size: @fontSize-small !important;
}

