
.calendarviewer {
  margin-top: 0;
  
  .fc-button {
    border: 1px solid @black;
    background: @white;
    color: @black;
    text-shadow: none;

    &.fc-state-disabled {
      color: @black;
    }
  }

  h2 {
    font-size: 36px;
  }
    
  // calendar table
  &.fc-unthemed .fc-content, 
  &.fc-unthemed .fc-divider, 
  &.fc-unthemed .fc-list-heading td, 
  &.fc-unthemed .fc-list-view, 
  &.fc-unthemed .fc-popover, 
  &.fc-unthemed .fc-row, 
  &.fc-unthemed tbody, 
  &.fc-unthemed td, 
  &.fc-unthemed th, 
  &.fc-unthemed thead {
    border-color: @ltgrey;
  }

  // Calendar Items in table
  td.fc-past {
    background-color: @white;
    color: @mdgrey;
  }
  td.fc-today {
    background: @white;
  }

  .fc-basic-view .fc-body .fc-row {
    height: auto;
    min-height: 150px;
  }

  .fc-event, .fc-event-dot {
    background: @white;
    color: @black;
    border: none;
    border-radius: 0;
    width: 97%;
    position: relative;
    display: block;
    margin-bottom: 6px;
    line-height: 1;

    .fc-content {
      padding: 8px;
      width: 90%;
      position: relative;
      display: block;
      white-space: normal;
      word-break: break-word;

      .fc-time {
        display: inline;
      }
      .fc-title {
        position: relative;
        display: inline;
      }
    }

    &:hover {
      background: @brandprimary;
    }
  }
}

@media print{
  a:after{content:" (" attr(href) ") ";display:none;}
}