.call-to-action {
  padding: 50px 0;
  margin: 0;
  background: @ltgrey;

  h2 {
    margin-bottom: 0;
  }
  p {
    margin-top: 40px;
  }
}


@media (min-width: @screen-sm) {
  .call-to-action {
    padding: 60px 0;
  
    h2 {
      margin-bottom: 0;
      padding-right: 60px;
    }
    p {
      margin-top: 20px;
    }
  }
}