
.donation-block {
  padding: 50px 0;
  margin: 0;

  .donation-content {
    background: @ltgrey;
    display: block;
    padding: 20px;
    margin-bottom: 30px;


    h3 {
      font-size: @fontSize-small;
      font-weight: @fontWeight-bold;
      text-transform: uppercase;
      letter-spacing: .5px;
      margin-bottom: 30px;
    }

    .donation-form {
      margin-top: 30px;
    }
    .btn {
      margin-top: 10px;
    }
    .secure-note,
    .secure-note .icon {
      color: @mdgrey;
      font-size: 13px;
      margin-top: 10px;
    }
  }
}
@media (min-width: @screen-sm) {
  .donation-block {
    padding: 50px 0;
    margin: 0;

    .donation-content {
      background: @ltgrey;
      display: block;
      padding: 30px;
    }
  }
}



// Give WP
// Basic Form styling
.give-form-wrap { 
  #give-recurring-form,
  form.give-form,
  form[id*=give-form] {
    background: none;
    padding: 0;
    text-align: left;

    .give-hidden {
      display: block;
      font-weight: @fontWeight-normal;
      font-size: 16px;
    }

    .give-donation-amount {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-bottom: 40px;
      margin-top: 30px;

      label {
        order: 1;
        flex-basis: 100%;
        font-size: 16px;
      }
      .give-currency-symbol {
        order: 2;
        height: 50px;
        padding: 6px 15px;
      }
      .give-text-input {
        order: 3;
        height: 50px !important;
        width: 200px;
        width: ~"calc(100% - 41.5px)";
      }
    }
    .give-custom-amount-text {
      display: none;
    }

    select.give-select-level {
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      padding: 12px;
      border: 1px solid @mdgrey;
    }
    .give-btn {
      font-weight: @fontWeight-normal;
      border-radius: 0;
      box-shadow: none;
      background: @brandlight;
      color: @white;
      border: none;
      text-align: center;
      padding: 10px 15px;
      min-width: 220px;
      width: 100%;
      max-width: 100%;
      display: inline-block;
      text-shadow: none;
      font-size: @fontSize-base;
      text-transform: none;
      text-decoration: none;
      transition: background-color .3s ease-in-out, color .4s ease;

      &:active,
      &:hover,
      &:focus {
        background: @black;
        color: @white;
        text-decoration: underline;
      }
    }
    .give-donation-submit {
      margin: 60px 0;

      #give-final-total-wrap {
        display: none;
      }

      .give-clearfix {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      .give-submit-button-wrap .give-submit {
        font-weight: @fontWeight-normal;
        border-radius: 0;
        box-shadow: none;
        background: @brandlight;
        color: @white;
        border: none;
        text-align: center;
        padding: 10px 15px;
        min-width: 220px;
        max-width: 100%;
        display: inline-block;
        text-shadow: none;
        font-size: @fontSize-base;
        text-transform: none;
        text-decoration: none;
        transition: background-color .3s ease-in-out, color .4s ease;

        &:active,
        &:hover,
        &:focus {
          background: @black;
          color: @white;
          text-decoration: underline;
        }
      }
    }
  }
}




// Move donation form around a little. 
// Reorder the form.
form.give-form.give-recurring-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;

  label[class^='give-donation-level-select'] {
    order: 1;
    grid-row: 1 / span 1;
    font-size: 16px;
  }
  select.give-select-level {
    order: 2;
    grid-row: 2 / span 1;
    font-size: 16px;
  }
  .give-total-wrap {
    order: 3;
    grid-row: 3 / span 1;
    margin-bottom: 25px;

    .give-donation-amount {
      margin: 0;
    }
  }
  .give-recurring-donors-choice {
    order: 4;
    grid-row: 4 / span 1;
    margin-bottom: 30px;

    input[type="checkbox"] {
      margin-left: 5px; 
      width: 24px;
      display: inline-block;
      transform: scale(1.5);
    }
  }
  .give-btn {
    order: 5;
    grid-row: 5 / span 1;
  }
}


// give modal 
.give-modal {

  .mfp-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .mfp-content {
    padding: 15px;
  }

  form[id*=give-form] .give-submit {
    font-weight: @fontWeight-normal;
    border-radius: 0;
    box-shadow: none;
    background: @brandlight;
    color: @white;
    border: none;
    text-align: center;
    padding: 10px 15px;
    min-width: 220px;
    width: 100%;
    max-width: 100%;
    display: inline-block;
    text-shadow: none;
    font-size: @fontSize-base;
    text-transform: none;
    text-decoration: none;
    transition: background-color .3s ease-in-out, color .4s ease;

    &:active,
    &:hover,
    &:focus {
      background: @black;
      color: @white;
      text-decoration: underline;
    }
  }

  form[id*=give-form] #give-final-total-wrap .give-donation-total-label,
  form[id*=give-form] #give-final-total-wrap .give-final-total-amount {
    background: none;
    display: inline-block;
    padding: 0;
    border: none;
  }
}

@media (min-width: @screen-sm) {
  .mfp-wrap {
    .mfp-content {
      padding: 30px;
    }
  }
}

