
.list-dates {
  padding-bottom: 15px;
  > li {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;

    > a {
      display: flex;
      flex-direction: row;
      text-decoration: none;
      text-transform: none;
      
      .location-left {
        display: inline-block;
        flex: 3;
      }
      .location-right {
        display: inline-block;
        min-width: 100px;
      }

      .day {
        margin-right: 10px;
        line-height: 1;
      }
      .hourtime {
        line-height: 1;
      }
      h4 {
        margin: 0;
        line-height: 1.3;
      }
    }
  }


  &.multiple-dates {
    > li {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid @black;
    }
  }
}