.fullwidth-text {
  padding: 40px 0; 

  p {
    margin-bottom: 24px;
    
    strong {
      font-size: @fontSize-base;
      margin: 20px 0 30px;
    }
  }
}

@media (min-width: @screen-sm) {
  .fullwidth-text {
    padding: 80px 0; 
  }
}