.fullwidth-image {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;

  .fullwidth-image-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center top;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background: linear-gradient(180deg, rgba(255,255,255,1), rgba(255,255,255,0));
    }
  }

  &.fade30 {
    margin-top: -30px;
  }
  &.fade60 {
    margin-top: -60px;
  }
  &.fade100 {
    margin-top: -100px;
  }
}