.half-and-half {
  padding: 60px 0;

  .half-image {

  }
  .half-content {
    p {
      strong {
        text-transform: uppercase;
        font-size: @fontSize-small;
        margin: 20px 0;
      }
    }
  }
}


@media (min-width: @screen-sm) {
  .half-and-half {
    padding: 80px 0;

    .half-image {

    }
    .half-content {
      p {
        strong {
          margin: 20px 0;
        }
      }
    }
  }
}