.hero {
  margin: 0;
  padding: 0;
  z-index: 1;
  position: relative;
  overflow-y: hidden;
  display: block;

  .hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center top;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0);
    }
  }

  .hero-text {
    padding: 60px 0 40px;
    height: auto;
  }

  .container,
  .row,
  .hero-content {
    position: relative;
    height: 100%;
    z-index: 20;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  h1 {
    color: @white;
    font-size: 44px;
    line-height: 1;
    letter-spacing: 0;
    text-transform: none;
    z-index: 25;
    padding-bottom: 40px;

    &.black {
      color: @black;
    }
  }

  &.hero-text {
    padding-top: 40px;

    .container,
    .row,
    .hero-content {
      height: auto;
    } 
    
    .hero-content { 
      height: auto;
      
      h1 {
        bottom: 0;
        left: 14px;
      }
    }
  }
}


@media (max-width: 321px) {
  .hero {
    h1 {
      font-size: 42px;
    } 
  }
}  

@media (min-width: @screen-sm) {
  .hero {
    margin: 0;
    padding-top: 200px;
    padding-top: 20vh;

    h1 {
      font-size: 84px;
      left: 8px;
      padding-bottom: 80px;

      &.text {
        padding-bottom: 40px;
      }
    }

    &.hero-text {
      padding-top: 80px;
      height: auto;

      .hero-content h1 {
        position: relative;
        left: -6px;
        bottom: auto;
        font-size: 72px;
      }
    }
  }
}

@media (min-width: @screen-md) {
  .hero {
    h1 {
      font-size: 120px;
      line-height: 100px;

      &.text {
        line-height: 1;
      }
    }

    &.hero-text {
      .hero-content h1 {
        font-size: 72px;
      }
    }
  }
}