.lead {
  padding: 50px 0;
  margin: 0;

  .lead-content {
    h2 {
      margin-bottom: 0;
    }
    p {
      margin-top: 20px;
    }
  }
}


@media (min-width: @screen-sm) {
  .lead {
    padding: 60px 0;
    
    .lead-content {
      h2 {
        margin-bottom: 0;
      }
      p {
        margin-top: 40px;
      }
    }
  }
}