.location-page {
  ul {
    li {
      a {
        font-size: @fontSize-base;
        text-transform: none;
        text-decoration: none;
      }
    }
    .day {
      width: 30%;
      min-width: 80px;
      display: inline-block;
    }
    .hourtime {

    }
    .service-name {
      width: 40%;
      min-width: 100px;
      display: inline-block;
    }
    .service-note {

    }
  }

  ul.lined {
    li {
      margin-top: 0;
      border-top: 1px solid @mdgrey;
      padding: 15px 0;
    }
  }
}

section.locations-map {
  padding-top: 10px;
}

select.select-filter {
  max-width: 200px;
}

ul.list-locations {
  padding-left: 0;

  > li {
    border-bottom: 1px solid @mdgrey;
    padding-bottom: 5px;
    margin-bottom: 15px;
    text-indent: 0;
    display: none;

    &:before {
      display: none;
    }

    // Filters
    &.showservice.allministries,
    &.showservice.showministry,
    &.showministry.allservices,
    &.allservices.allministries {
      display: list-item;

      &.distance-far {
        display: none;
      }
    }

    > a {
      display: flex;
      flex-direction: row;
      text-decoration: none;
      text-transform: none;
      color: @black;
      
      .location-left {
        display: inline-block;
        flex: 3;
        padding-right: 15px;
      }
      .location-right {
        display: inline-block;
        min-width: 100px;

        ul {
          text-align: right;
        }
      }

      .day {
        margin-right: 10px;
        line-height: 1;
      }
      .hourtime {
        line-height: 1;
      }
      h4 {
        margin: 0;
        line-height: 1.3;
      }
    }
  }
}

@media (max-width: @screen-sm) {
  ul.list-locations {
    margin-top: 30px;
    border-top: 1px solid @mdgrey;
    padding-top: 20px;
    
    > li {
      > a {
        flex-direction: column;

        .table-align-right {
          > tbody {
            > tr {
              > td {
                text-align: left;
                padding-left: 0;
              }
            }
          }
        }
      }
    }
  }
}