#map { 
  height: 300px;
  width: 100%; 
}
.mapboxgl-map {
  width: 100%;
  height: 300px;
}

.marker {
  width: 30px;
  height: 30px;
  font-size: 22px;
  color: @brandprimary;
  text-align: center;
  cursor: pointer;
  line-height: 30px;
  position: absolute;
  top: -11px;  
}
.single-marker {
  .marker {
    width: 50px;
    height: 50px;
    font-size: 48px;
    line-height: 50px;
  }
}
.filter-map {
  .marker {
    visibility: hidden;

    &.showservice.allministries,
    &.showservice.showministry,
    &.showministry.allservices,
    &.allservices.allministries {
      visibility: visible;

      &.distance-far {
        display: none;
      }
    }
  }
}

.mapbox-popup {
  max-width: 200px;
}
.mapboxgl-popup-tip {
  display: none;
}
.mapboxgl-popup-content {
  h4 {

  }
  p {
    font-size: @fontSize-small;
  }
}



// Mapbox customizations
.mapboxgl-ctrl-logo {
  border: none;

  &:hover,
  &:focus {
    background-color: transparent;
    border: none;
  }
}