.media-block-row {
  padding: 0;

  &.block-row-padded {
    padding: 40px 0
  }
  
  .container {
    padding: 0;
  }
}
.media-block {
  margin: 0 15px 0;
  padding: 0 0 60px;

  .media-image {
    object-fit: cover;
    margin: 0;
    width: 100%;
    height: 200px;
  }
  .media-text {
    width: 100%;
    padding: 0px ;
  }
  h1 {
    font-size: @fontSize-small;
    font-weight: @fontWeight-bold;
    text-transform: uppercase;
    letter-spacing: .5px;
    line-height: 1.4;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  p {
    font-size: @fontSize-base;
    font-weight: @fontWeight-normal;
    text-transform: none;
    margin-bottom: 20px;
  }
  a {
    font-size: 14px;
  }


  &.no-image {
    border-top: 1px solid @mdgrey;
    padding-top: 20px;
    
    h1 {
      margin-top: 0;
    }
  }
}

// for media blocks that are wrapped in an A tag to link
.media-block-link {
  a {
    text-decoration: none;
    
    img {
      opacity: 1;
      transition: opacity .4s ease;
    }
    header {
      h1 {
        color: inherit;
        transition: color .4s ease;
      }
      p {
        color: @black;
        text-decoration: none;
        transition: text-decoration .4s ease;
      }
    }

    &:hover,
    &:focus {
      img {
        opacity: .7;
      }
      header {
        h1 {
          color: @brandprimary;
        }
        p {
          color: @black;
          text-decoration: underline;
        }
      }
    }
  }
}


@media (min-width: @screen-sm) {
  .media-block-row {
    padding: 0 0 30px;

    &.block-row-padded {
      padding: 40px 0;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .container {
      padding-left: 15px;
      padding-right: 15px;
    }

    .col-sm-6:nth-child(2n+1) {
      clear: left;
    }
    .col-sm-4:nth-child(3n+1) {
      clear: left;
    }
    .col-sm-3:nth-child(4n+1) {
      clear: left;
    }
  }
  .media-block {
    margin: 0;
    padding: 0 0 60px;
    
    .media-text {
      padding: 0;
    }
    h1 {
      margin-top: 30px;
    }
    
    .media-image {
      height: 150px;
    }
  }
}

@media (min-width: @screen-md) {
  .media-block-row {
    padding: 0 0 30px;

    .col-sm-6:nth-child(2n+1) {
      clear: none;
    }
    .col-md-6:nth-child(2n+1){
      clear: left;
    }

    .col-sm-4:nth-child(3n+1) {
      clear: none;
    }
    .col-md-4:nth-child(3n+1){
      clear: left;
    }
    
    .col-sm-3:nth-child(4n+1) {
      clear: none;
    }
    .col-md-3:nth-child(4n+1){
      clear: left;
    }
  }
  .media-block {
    .media-image {
      height: 200px;
    }
    p {
      min-height: 72px;
    }
  }
}

@media (min-width: @screen-lg) {
  .media-block {
    .media-image {
    }
    p {
      min-height: 72px;
    }
  }
}