.partner-icons {
  .partner-icon {
    height: 80px;
    float: left;
    display: inline-block;
    padding: 10px;
    border: none;
    width: 25%;

    img {
      filter: saturate(0);
      opacity: .6;
      transition: opacity .4s ease;
      object-fit: contain;
    }

    &:hover,
    &:focus {
      background: none;

      img {
        opacity: .8;
      }
    }
  }
}

.distribution-list {
  ul {
    li {
      padding: 0;

      a {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        border: none;
        border-top: 1px solid @mdgrey;
        text-decoration: none;
        padding: 12px 0 14px;

        small {
          text-transform: none;

        }
        .when {
          position: absolute;
          top: 12px;
          right: 0;
          text-transform: none;
        }

        &:hover,
        &:focus {
          color: @brandprimary;
        }
      }
    }
  }
}

@media (min-width: @screen-sm) and (max-width: @screen-md) {

  .distribution-list {
    ul {
      li {
        a {
          .name {
            max-width: 220px;
            display: inline-block;
            margin: 0 0 -6px;
            padding: 0;
            overflow-x: hidden;
          }
        }
      }
    }
  }
}

.next-food {
  .media-block {
    padding-bottom: 30px;
  }
}
@media (min-width: @screen-sm) {
  .next-food {
    padding-bottom: 0;
    
    .media-block {
      padding-bottom: 15px;
    }
  }
}

.partner-page {
  .title {
    margin-bottom: 7px;
  }
  .subtitle {
    font-size: @fontSize-small;
    font-weight: @fontWeight-normal;
    text-transform: uppercase;
  }
}