.story-block {
  padding: 0;

  .story-content {
    background: @ltgrey;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    .story-image {
      flex: 1;
      object-fit: cover;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 300px;

      > img {
        object-fit: cover;
        width: 100%;
        height: 100%;

      }

    }
    .story-text {
      flex: 1;
      width: 100%;
      height: 300px;
      padding: 30px;
      text-align: center;

      h1 {
        font-family: @fontFamily-text;
        font-weight: @fontWeight-normal;
        line-height: 1.4;
        margin-top: 20px;
      }
      .eyebrow {
        font-family: @fontFamily-base;
        font-size: @fontSize-small;
        font-weight: @fontWeight-bold;
        text-transform: none;
        // letter-spacing: .5px;
      }
      a.btn {
        margin-top: 20px;
      }
    }
  
  }
}

@media (min-width: @screen-sm) {
  .story-block {
    .story-content {
      background: @ltgrey;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
      height: 300px;

      .story-image {
        flex: 1;
        width: 50%;
        height: auto;

        > img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      .story-text {
        flex: 1;
        width: 50%;
        height: auto;
        padding: 0;
        text-align: left;

        > div {
          padding: 40px;
        }

        h1 {
          font-weight: @fontWeight-normal;
          line-height: 1.4;
          margin-top: 20px;
        }
        a.btn {
          margin-top: 10px;
        }
      }
    }
  }
}


@media (min-width: @screen-md) {
  .story-block {
    .story-content {
      height: 400px;
        
      .story-text {
        > div {
          padding: 60px;
        }

        h1 {
          font-weight: @fontWeight-normal;
          margin-top: 60px;
          max-width: 300px;
        }
        a.btn {
          margin-top: 20px;
        }
      }
    }
  }
}