.nav-tabs {
  border: none;
  padding-left: 0 !important;
  
  > li,
  > li.active {
    border: none;
    text-indent: 0px !important;

    &:before {
      display: none;
    }

    > a,
    > a:hover,
    > a:focus {
      padding: 10px 30px 10px 0;
      font-family: @fontFamily-base;
      text-transform: none;
      text-decoration: none;
      border: none;
      border-radius: 0;
      font-size: 16px;

      &:hover,
      &:focus {
        color: red;
        background: none;
      }

      span {

      }
    }
  }
}

.tab-content {
  article {
    h1,
    h1 a {
      font-size: 16px;
      text-transform: none;
      text-decoration: none;
      letter-spacing: 0;
    }
  }
}