#trp-floater-ls.trp-top-right {
  display: none;
  opacity: 0;
  transition: opacity .2s ease;
}
.translating {
  .super-nav .top {
    text-align: left;
  }
  #trp-floater-ls.trp-top-right {
    display: block;
    opacity: 1;
    background: none;
    box-shadow: none;
    border: none;
    right: 0;
    left: auto;
  }

  // New TRP updates and overrides.
  #trp-floater-ls.trp-floater-ls-codes #trp-floater-ls-current-language a, 
  #trp-floater-ls.trp-floater-ls-codes #trp-floater-ls-language-list {
    margin-top: 0;
  }
  #trp-floater-ls div:not(#trp-floater-poweredby) > a.trp-floater-ls-disabled-language {
    display: none!important;
  }

  // Let's show just the other language option.
  #trp-floater-ls-current-language.trp-with-flags {
    display: none!important;
  }
  #trp-floater-ls-language-list.trp-with-flags {
    display: block;

    .trp-language-wrap {
      a {
        display: block;
        padding-top: 14px;

        .trp-flag-image {
          margin-top: 5px;
          margin-bottom: 8px;
        }

        &:hover,
        &:focus {
          background: none;
        }
      }
      a.trp-floater-ls-disabled-language {
        display: none!important;
      }
    }
  }
}

@media (min-width: @screen-sm-min){
  .translating {
    .super-nav .top {
      text-align: center;
    }

    // Let's show just the other language option.
    #trp-floater-ls-language-list.trp-with-flags {
      .trp-language-wrap {
        a {
          display: block;
          padding-top: 10px;

          .trp-flag-image {
            margin-top: 5px;
            margin-bottom: 8px;
          }

        }
      }
    }
  }
}