.two-columns,
.three-columns {
  padding: 20px 0 60px;

  .left,
  .center,
  .right {
    p {
      strong {
        font-size: @fontSize-base;
        margin: 20px 0;
      }
    }
  }
}


@media (min-width: @screen-sm) {
  .two-columns,
  .three-columns {
    padding: 20px 0 80px;

    .half-image {

    }
    .half-content {
      p {
        strong {
          margin: 20px 0;
        }
      }
    }
  }
}